/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython

Date modified: April 09, 2015
*/

<style>
    div.output_text{text-align:left;color:#000000;font-family:monospace; line-height:1.231em;font-size:110%}  
    /*div.text_cell_render{font-size:110%;outline:none;resize:none;width:inherit;
                         border-style:none;padding:.5em .5em .5em .4em;color:#000000;}*/
    div.text_cell_render{font-size:131%;outline:none;resize:none;width:inherit;line-height:1.5em;
                         border-style:none;padding:.5em .5em .5em .4em;color:#000000; font-family:Palatino,Palatino Linotype,Palatino LT STD,Book Antiqua,Georgia,serif}
    div.output_text{text-align:left;color:#000;line-height:1.21429em;font-size:112%;}
    .CodeMirror{line-height:1.231em;height:auto;background:none;}
    .CodeMirror pre{padding:0;border:0;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;font-size:112%;}

    /* formatting of headers in text cells */
    .rendered_html h1{font-family:Arial,Helvetica Neue,Helvetica,sans-serif;font-size:160%;margin:1.08em 0 0.5em 0;font-weight:bold;line-height:1; color:#FF335A;} 
    .rendered_html h2{font-family:Arial,Helvetica Neue,Helvetica,sans-serif;font-size:145%;margin:1.2em 0 0 0;font-weight:bold;line-height:1; color:#0C62EB;} 
    .rendered_html h3{font-family:Arial,Helvetica Neue,Helvetica,sans-serif;font-size:129%;margin:1.2em 0 0 0;font-weight:bold;line-height:1; color:#1387FF;}
    .rendered_html h4{font-family:Arial,Helvetica Neue,Helvetica,sans-serif;font-size:116.0%;margin:2.00em 0 0 0;font-weight:bold;line-height:1; color:#15BCFF;}
    .rendered_html h5{font-family:Arial,Helvetica Neue,Helvetica,sans-serif;font-size:108.0%;margin:2.00em 0 0 0;font-weight:bold;line-height:1; font-style:normal; color: #37FFFF;} 
    .rendered_html h6{font-family:Arial,Helvetica Neue,Helvetica,sans-serif;font-size:99.0%;margin:2.00em 0 0 0;font-weight:bold;line-height:1; font-style:normal; color: #15FFBC;}
     
    /* highlight text in text cell*/
    .rendered_html mark{background-color: #99ffcc; padding: 0em;}
    /* modify the color of pre and code in text cells */
    .rendered_html pre{font-size:95.0%;color:#28B4D0;}
    .rendered_html code{font-size:95.0%;color:#28A8A8;}
    /* modfify bold/strong text color */
    .rendered_html strong {color:#323232;}

    /*div.MathJax_Preview{font-size:80%;} */ /* This doesn't seem to work for the inline equation*/
    /*div.MathJax_Display{font-size:85%;} */

    .MathJax_Display,
    .MathJax nobr>span.math>span {
        border: 0 !important;
        font-size: 100% !important;
        text-align: center !important;
        margin: 0em !important;
    }
    

    /* more space between bullet points */
    #notebook li { 
    margin-top:0.1em;
    }

    /* draw border around running cells */
    div.cell.border-box-sizing.code_cell.running { 
    border: 1px solid #555;
    }

    /* put a solid color box around each cell and its output, visually linking them together */
    div.cell.code_cell {
    background-color: rgba(246, 246, 246, 1.0); 
    border-radius: 6px; /* rounded borders */
    padding: 0.75em;
    margin-top: 0.75em;
    }

    /* disable gray shadow around scrollable output */
    div.output.output_scroll {
        box-shadow: none;
    }

    /* don't display the header banner and jupyter logo by default */
    div#header-container { display: none; }

</style>
